
body {
    font-family: 'Alata', sans-serif;
    background-color: #1e2528;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 80px;
    padding: 0 20px;
    display: flex;
    max-height: 60px;
}

.container input{
    margin-right: 20px;
}

header {
    position: relative;
    background-color: #51737F;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
    width: 765px;
    height: 30px;
    margin-left: 25%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    box-shadow: #51737F;
}
header ul {
    text-decoration: none;
    position: absolute;
    color: #e7e7e7;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    top: 0;
    margin-left: 160px;
}
header a{
    font-size: 1.2vw;
    font-weight: 500;
}
header ul a:hover{
    color: #2c3e50;
    cursor: pointer;
}

.nav-items::after{
    position: absolute;
    content: '';
    
    top: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    transition: all 0.3s;
}
.nav-items:hover::after{
    width: 20%;
}

.side-nav{
    position: fixed;
    background-color: #7f7f7f2c;
    height: 98%;
    width: 13%;
    right: 8px;
    top: 5px;
    border-radius: 20px;
}

main {
    /* background-color: #1743e3; */
    padding: 2em 0;
}

/* ------Menu------- */
.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}


/* ------Search------- */
/* this is a recreation of twitter search in css */
.form {
    --input-text-color: #fff;
    --input-bg-color: #283542;
    --focus-input-bg-color: transparent;
    --text-color: #949faa;
    --active-color: #51737F;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  /* form style */
  .form {
    font-size: 0.9rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
    margin-right: 100px;
  }
  /* a fancy bg for showing background and border when focus. */
  .fancy-bg {
    position: absolute;
    max-width: 200px;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 20px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  /* label styling */
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
  }
  
  .search,.close-btn {
    position: absolute;
  }
  /* styling search-icon */
  .search {
    fill: whitesmoke;
    left: var(--inline-padding-of-input);
  }
  /* svg -- size */
  svg {
    width: 17px;
    display: block;
  }
  /* styling of close button */
  .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
  }
  /* styling of input */
  .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
    font-family: 'Alata', sans-serif;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    font-family: 'Alata', sans-serif;
    color: var(--text-color)
  }
  /* input background change in focus */
  .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
  }
  /* search icon color change in focus */
  .input:focus ~ .search {
    fill: var(--active-color);
  }
  /* showing close button when typing */
  .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
  }
  /* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }

#captionCategories{
    position: relative;
    background: transparent;
    border: 1px solid #ffffff85;
    border-radius: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 10px;
}
.caption-feed {
    display: flex;
    flex-wrap: wrap;
}

.captionCard {
    flex: 1 0 calc(33.3333% - 20px);
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.captionCard:hover {
    background-color: #f5f5f5;
}

/* .caption-categories {
    margin-top: 30px;
} */

.category {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    transition: ease .5s;
}

.category:hover {
    border-radius: 20px;
    background-color: #51737F;
}
.ri-arrow-right-s-line{
    color: white;
    height: 200px;
    width: 200px;
    padding: 10px 10px;
    transition: ease .5s;
    border-radius: 20px;
}
.ri-arrow-right-s-line:hover{
    transform: scale(1.4);
    background-color: #51737fb7;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/* ------- Slider --------- */

.slider #quotes {
  color: #ffffff;
  position: absolute;
  font-family: 'Alata', sans-serif;
  font-size: 1.5vw;
  line-height: 1.2;
  padding: 10px 20px;
  justify-content: center;
  text-align: center;
  right: 30%;
  top: 25%;
  transition: ease .5s;
}

.slider #author {
  color: #ffffff;
  position: absolute;
  font-family: 'Alata', sans-serif;
  font-size: 1.5vw;
  line-height: 1.2;
  right: 30%;
  top: 65%;
}

.generate {
  font-family: 'Alata', sans-serif;
  position: absolute;
  display: inline-block;
  background-color: #2C2A2A;
  padding: 20px 40px;
  padding-top: 30px;
  padding-bottom: 70px;
  right: 5%;
  top: 26%;
  border-radius: 20px;
  color: #ffffff;
}

.ri-sparkling-2-line {
  color: #D7BF79;
}

.generate button {
  font-family: 'Alata', sans-serif;
  position: absolute;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  right: 17%;
  width: 100px;
  height: 30px;
  font-size: 10px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  transition: ease-in-out .5s;
}

.generate button:hover {
  transform: scale(1.1);
  background-color: #FFF78A;
  box-shadow: #2c3e50;
}

/* cards */
/* this card is inspired form this - https://georgefrancis.dev/ */

.cards-1{
  display: flex;
  line-break: 2;
  padding: 10px 20px 10px 20px;
  background-color: rgba(107, 107, 107, 0.15);
  width: 1000px;
  margin: 50px 100px;
  border-radius: 20px;
}

.slider{
  --border-radius: 0.75rem;
  --primary-color: #6EA1B1;
  --secondary-color: #3c3852;
  max-width: 1000px;
  height: 200px;
  font-family: "Arial";
  padding: 2rem;
  margin: 50px 100px;
  justify-content: center;
  border-radius: var(--border-radius);
  background: rgba(81, 115, 127, 1);
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card {
  --border-radius: 0.75rem;
  --primary-color: #6EA1B1;
  --secondary-color: #3c3852;
  width: 210px;
  font-family: "Arial";
  padding: 2rem;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: var(--border-radius);
  background: #f1f1f3;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
  position: relative;
}

.card > * + * {
  margin-top: 1.1em;
}

.card .card__content {
  color: var(--secondary-color);
  font-size: 0.86rem;
}

.card .card__title {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.card .card__date {
  color: #6e6b80;
  font-size: 0.8rem;
}

.card .card__arrow {
  position: absolute;
  background: var(--primary-color);
  padding: 0.4rem;
  border-top-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  bottom: 0;
  right: 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card svg {
  transition: 0.2s;
}

/* hover */
.card:hover .card__title {
  color: var(--primary-color);
  text-decoration: underline;
}

.card:hover .card__arrow {
  background: #111;
}

.card:hover .card__arrow svg {
  transform: translateX(3px);
}

/* Add responsive styles as needed */
@media screen and (max-width: 768px) {
    #searchInput {
        width: 100%;
        margin-bottom: 10px;
    }
    .captionCard {
        flex: 1 0 calc(50% - 20px);
    }
}
